/* variaveis em css (variable in css) */
:root {
    --bg-button: #322b2b;
    --border-button: solid 1px #4a4545
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
    color: #FFF
}

.button:active {
    background-color: #807974cc;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: #4a4545;
    color: #FFF;
}

.button.button.operation:active {
    background-color: #807974cc;
}