/* Importar Fonte (import Font) */
@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
  /* background: linear-gradient(to right, rgb(83, 105, 128), rgb(41, 46, 73)); */
  background: linear-gradient(to left, rgb(43, 88, 118), rgb(78, 67, 118));
}